<!-- START FOOTER -->
<!-- <div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright © 2017</span>
            <span class="font-montserrat">OCB</span>.
            <span class="hint-text">All rights reserved.</span>
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
            <a href="#">Hand-crafted</a>
            <span class="hint-text">&amp; Made with Love ®</span>
        </p>
        <div class="clearfix"></div>
    </div>
</div> -->
<!-- END FOOTER -->

<!---->
<!---->
<!---->
{{#ifEqual activeLink 'quanlyuser'}} {{> modal-user}} {{/ifEqual}}
<!---->
<!---->
{{#ifEqual activeLink 'phongban'}} {{> modal-phongban}} {{/ifEqual}}
<!---->
<!---->
<!---->

{{> modal}}