<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalKhachHang" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Thông tin <span class="semi-bold">Khách hàng</span></h5>
                <p>Các lưu ý cho thông tin khách hàng</p>
            </div>
            <div class="modal-body">
                <form role="form" class="desModalForm">


                    <!--<div class="form-title">Thông tin cá nhân</div>-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Mã khách hàng :<span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Tên khách hàng :<span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Địa chỉ : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Email : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Fax : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Số điện thoại : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Tài khoản số : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tại ngân hàng : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Mã số thuế : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Số hợp đồng : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Ghi chú : </div>
                                <div class="col-md-8 value">
                                    <textarea rows="" class="form-control input-sm" cols=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-save"></i> Lưu</button>
                    </div>



                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalThongTinKhachHang" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Thông tin <span class="semi-bold">Khách hàng</span></h5>
            </div>
            <div class="modal-body">
                <form role="form" class="desModalForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Mã khách hàng :<span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Tên khách hàng :<span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Địa chỉ : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Email : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Fax : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Số điện thoại : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Tài khoản số : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tại ngân hàng : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Mã số thuế : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Số hợp đồng : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Ghi chú : </div>
                                <div class="col-md-8 value">
                                    <textarea rows="" class="form-control input-sm" cols=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                    </div>



                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalHopDong" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Danh sách <span class="semi-bold">Hợp đồng</span>
                    <button class="btn btn-default btn-sm  m-l-20 text-primary" type="button" data-toggle="modal" data-target="#modalTaoHopDong"><i class="fa fa-file"></i> Tạo mới
                </button>

                </h5>
                <p>Các lưu ý cho danh sách hợp đồng</p>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-sm-12">

                        <form role="form" lpformnum="2" class="form-filter">
                            <div class="form-group">
                                <label>Tìm theo tên</label>
                                <span class="help">e.g. </span>
                                <input type="email" class="form-control input-sm">
                            </div>

                            <div class="form-group">
                                <label>Hiệu lực</label>
                                <select class="form-control input-sm">
                                    <option value="">Còn hiệu lực</option>
                                    <option value="">Hết hiệu lực</option>
                                </select>
                            </div>


                            <div class="form-group">

                                <button class="btn btn-primary btn-cons btn-sm m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm
                            </button>

                            </div>


                        </form>

                    </div>


                </div>


                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>


                                <th>STT</th>
                                <th>Tên hợp đồng</th>
                                <th>Ngày ký</th>
                                <th>Ngày HL</th>
                                <th>Ngày hết HL</th>
                                <th>Hợp đồng</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="v-align-middle">
                                    1
                                </td>
                                <td class="v-align-middle">
                                    Giám định định kỳ
                                </td>
                                <td class="v-align-middle">
                                    12/03/2017
                                </td>

                                <td class="v-align-middle">
                                    12/03/2017
                                </td>

                                <td class="v-align-middle">
                                    12/03/2018
                                </td>

                                <td class="v-align-middle">
                                    <a href=""><i class="fa fa-download"></i> Hop-dong-1.png</a>
                                </td>

                                <td class="v-align-middle">

                                    <div class="btn-group sm-m-t-10">
                                        <button type="button" class="btn btn-default btn-sm text-primary" data-toggle="modal" data-target="#modalTaoHopDong"><i class="fa fa-edit"></i> Chỉnh sữa</button>
                                        <button type="button" class="btn btn-default btn-sm text-danger" data-toggle="modal" data-target="#modalXoa"><i class="fa fa-trash-o"></i> Xóa</button>
                                    </div>


                                </td>

                            </tr>

                        </tbody>
                    </table>


                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-save"></i> Lưu</button>
                    </div>


                </div>




            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->

<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalTaoHopDong" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Tạo mới <span class="semi-bold">Hợp đồng</span></h5>
                <p>Các lưu ý cho thông tin khách hàng</p>
            </div>
            <div class="modal-body">
                <form role="form" class="desModalForm">


                    <!--<div class="form-title">Thông tin cá nhân</div>-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Tên hợp đồng <span class="text-danger">(*)</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Ngày ký hợp đồng : </div>
                                <div class="col-md-8 value">
                                    <div class="input-group">
                                        <input type="email" class="form-control desdatepicker" placeholder="Pick a date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Ngày hiệu lực : </div>
                                <div class="col-md-8 value">
                                    <div class="input-group">
                                        <input type="email" class="form-control desdatepicker" placeholder="Pick a date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Ngày hết hiệu lực : </div>
                                <div class="col-md-8 value">
                                    <div class="input-group">
                                        <input type="email" class="form-control desdatepicker" placeholder="Pick a date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"><i class="fa fa-upload"></i> Upload hợp đồng : </div>
                                <div class="col-md-8 value">
                                    <input type="file" class="form-control input-sm" name="" value="">
                                </div>
                            </div>
                        </div>


                    </div>



                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-save"></i> Lưu</button>
                    </div>



                </form>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->