<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalTacGia" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Thông tin <span class="semi-bold">Tác giả</span></h5>
                <p>Các lưu ý cho thông tin Tác giả</p>
            </div>
            <div class="modal-body">
                <form role="form" class="desModalForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tên tài khoản : </div>
                                <div class="col-md-8 value">
                                    <input type="text" name="username" placeholder="User Name" class="form-control" required disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Mật khẩu : </div>
                                <div class="col-md-8 value">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tên <span class="semi-bold">Tác giả</span> : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Địa chỉ : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Email : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Số điện thoại : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5"><i class="fa fa-save"></i> Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL STICK UP  -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalThongTinTacGia" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
                    class="pg-close fs-14"></i>
                </button>
                <h5>Thông tin <span class="semi-bold">Tác giả</span></h5>
            </div>
            <div class="modal-body">
                <form role="form" class="desModalForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tên tài khoản : </div>
                                <div class="col-md-8 value">
                                    <input type="text" name="username" placeholder="Tác giả Name" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Mật khẩu : </div>
                                <div class="col-md-8 value">
                                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Tên người dùng : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Địa chỉ : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5">Email : </div>
                                <div class="col-md-8 value">
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row  m-b-15">
                                <div class="col-md-4  name m-t-5"> Số điện thoại : </div>
                                <div class="col-md-8 value">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right m-t-20">
                        <button type="button" class="btn btn-danger m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->