<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalChinhSua" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                          </button>
                <h5><span class="semi-bold">Lý do Chỉnh sửa</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>

                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->
<!-- MODAL STICK UP  -->
<div class="modal fade stick-up" id="modalXoaBai" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header clearfix text-left">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                          </button>
                <h5><span class="semi-bold">Lý do Xoá</span></h5>
                <!--<p>Thông tin lưu ý khi cập nhập loại tiền</p>-->
            </div>
            <div class="modal-body">
                <form role="form">

                    <div class="form-group">
                        <label>Nội dung</label>
                        <!--<span class="help">e.g. "some@example.com"</span>-->
                        <textarea rows="" cols="" class="form-control"></textarea>
                    </div>

                </form>
                <div class="row">

                    <div class="col-sm-8 m-t-10 sm-m-t-10 text-right">
                        <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal"><i class="fa fa-close"></i> Đóng</button>
                        <button type="button" class="btn btn-primary  m-t-5">Hoàn thành</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- END MODAL STICK UP  -->