<!-- BEGIN SIDEBAR MENU -->
<div class="sidebar-menu">
    <ul class="menu-items">

        <li class=" m-t-30 {{#ifContain 'dashboard2' layout }} active {{/ifContain}}">
            <a href="dashboard2.html">
                <span class="title">Dashboard</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-bar-chart"></i></span>
        </li>

        <li class="  {{#ifContain 'dashboard' layout }} active {{/ifContain}}">
            <a href="dashboard.html">
                <span class="title">Màn hình chính</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-home"></i></span>
        </li>

        <li class=" {{#ifContain 'khachhang' layout }} active {{/ifContain}}">
            <a href="quanlykhachhang.html">
                <span class="title">Quản lý khách hàng</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-group"></i></span>
        </li>

        <li class="  {{#ifContain 'phongban' layout }} active {{/ifContain}}">
            <a href="quanlyphongban.html">
                <span class="title">Quản lý phòng ban</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-cubes"></i></span>
        </li>

        <li>
            <a href="javascript:;"><span class="title">Yêu cầu giám định</span>
        <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-check-square-o"></i></span>

            <ul class="sub-menu">
                <li>
                    <a href="yeucaugiamdinh-danhsach.html">Danh sách yêu cầu giám định </a>
                </li>

                <li>
                    <a href="yeucaugiamdinh-PhongBanChiDinh.html">Yêu cầu giám định </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="giamdinhvien.html">
                <span class="title">Giám định viên</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-user-circle"></i></span>
        </li>

        <li>
            <a href="ChiTieuChatLuong.html">
                <span class="title">Chỉ tiêu chất lượng</span>
            </a>
            <span class="icon-thumbnail "><i class="fa fa-user-circle"></i></span>
        </li>

        <li>
            <a href="javascript:;"><span class="title">Chứng thư</span>
        <span class="arrow"></span></a>
            <span class="icon-thumbnail"><i class="fa fa-check-square-o"></i></span>

            <ul class="sub-menu">
                <li>
                    <a href="danhsachchungthu.html">Danh sách chứng thư </a>
                </li>
                <li>
                    <a href="danhsachchungthu-duyet.html">Duyệt chứng thư </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:;">
                <span class="title">Hóa đơn</span>
                <span class="arrow"></span>
            </a>
            <span class="icon-thumbnail"><i class="fa fa-line-chart"></i></span>

            <ul class="sub-menu">

                <li>
                    <a href="danhsachhoadon.html">Danh sách hóa đơn </a>
                </li>

                <!--<li>
                    <a href="hoadon-baocao.html">Báo cáo </a>
                </li>-->

            </ul>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<!-- END SIDEBAR MENU -->