{{#extend "default"}} {{#content "main"}} {{> navHori type="quanlyphongban"}}
<br>
<div class="container-fluid container-fixed-lg">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">{{title}}
            </h3>
        </div>
    </div>
    <div class="panel panel-transparent">
        <ul class="nav nav-tabs nav-tabs-linetriangle hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
            <li class="active">
                <a data-toggle="tab" href="#giamdinhvien" aria-expanded="true"><span>Giám định viên</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#cs" aria-expanded="false"><span>CS</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#truongphong" aria-expanded="false"><span>Trưởng phòng</span></a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#giamdoc" aria-expanded="false"><span>Giám đốc</span></a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="giamdinhvien">
                <div class="">
                    <div class="panel-group des-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <b>Danh sách yêu cầu giám định</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary">
                                                <input type="radio" checked="checked" value="yes" name="thuchien" id="yes">
                                                <label for="yes">Chưa thực hiện</label>
                                                <input type="radio" value="no" name="thuchien" id="no">
                                                <label for="no">Đang thực hiện</label>
                                                <input type="radio" value="nop" name="thuchien" id="nop">
                                                <label for="nop">Đã thực hiện</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Số chứng thư</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Ngày yêu cầu</th>
                                                    <th>Thời gian thực hiện</th>
                                                    <th>Địa điểm</th>
                                                    <th>Loai hình Giám định</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="v-align-middle text-center">
                                                        1
                                                    </td>
                                                    <td class="v-align-middle">
                                                        3213246
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="quanlykhachhang.html" class="v-align-middle text-center">Trần Thị Đào</a>
                                                    </td>
                                                    <td class="v-align-middle">
                                                        20/05/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        21/05/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Nhà máy lọc dầu Dung Quất
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="" class="v-align-middle text-center" data-toggle="modal" data-target="#modalChiTietYeuCauGiamDinh">Giám Định Chất Lượng</a>
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Hoàn thành
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="" class="text-primary" data-toggle="modal" data-target="#modalLichSu"><i class="fa fa-info-circle"></i> Xem</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="v-align-middle text-center">
                                                        1
                                                    </td>
                                                    <td class="v-align-middle">
                                                        1234567
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="quanlykhachhang.html" class="v-align-middle text-center">Trần Thị Đào</a>
                                                    </td>
                                                    <td class="v-align-middle">
                                                        20/05/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        21/05/2017
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Nhà máy lọc dầu Dung Quất
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="" class="v-align-middle text-center" data-toggle="modal" data-target="#modalChiTietYeuCauGiamDinh">Giám Định Số Lượng</a>
                                                    </td>
                                                    <td class="v-align-middle">
                                                        Đang thực thi
                                                    </td>
                                                    <td class="v-align-middle">
                                                        <a href="" class="text-primary" data-toggle="modal" data-target="#modalLichSu1"><i class="fa fa-info-circle"></i> Xem</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{>pagination-sm}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane " id="cs">
                <div class="">
                    <div class="panel-group des-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="" data-toggle="collapse" data-parent="" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <b>Danh sách chứng thư</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary">
                                                <input type="radio" checked="checked" value="yes" name="thuchien1" id="thuchien1-1">
                                                <label for="thuchien1-1">Chưa phát hành</label>
                                                <input type="radio" value="no" name="thuchien1" id="thuchien1-2">
                                                <label for="thuchien1-2">Đang duyệt</label>
                                                <input type="radio" value="nop" name="thuchien1" id="thuchien1-3">
                                                <label for="thuchien1-3">Đã phát hành</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Số chứng thư</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Loại hình giám định</th>
                                                    <th>Ngày yêu cầu</th>
                                                    <th>Thời gian thực hiện</th>
                                                    <th>Địa điểm</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#repeat 4}}
                                                <tr>
                                                    <td class="v-align-middle text-center">
                                                        1
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                </tr>
                                                {{/repeat}}
                                            </tbody>
                                        </table>
                                        {{>pagination-sm}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <b>Danh sách hóa đơn</b>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="radio radio-primary">
                                                <input type="radio" checked="checked" value="yes" name="thuchien2" id="thuchien2-1">
                                                <label for="thuchien2-1">Chưa tạo</label>
                                                <input type="radio" value="no" name="thuchien2" id="thuchien2-2">
                                                <label for="thuchien2-2">Đã tạo</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">STT</th>
                                                    <th>Số chứng thư</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Hạng mục giám định</th>
                                                    <th>Ngày yêu cầu</th>
                                                    <th>Thời hoàn thành</th>
                                                    <th>Địa điểm</th>
                                                    <th>Trạng thái</th>
                                                    <th>Chi tiết</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#repeat 4}}
                                                <tr>
                                                    <td class="v-align-middle text-center">
                                                        1
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                    <td class="v-align-middle">
                                                    </td>
                                                </tr>
                                                {{/repeat}}
                                            </tbody>
                                        </table>
                                        {{>pagination-sm}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="truongphong">
                <div class="panel-group des-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <b>Danh sách yêu cầu giám định - chưa xác nhận</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form role="form" lpformnum="2" class="form-filter">
                                            <div class="form-group long">
                                                <label>THEO NGÀY</label>
                                                <div class="input-daterange input-group" id="datepicker-range">
                                                    <input type="text" class="input-sm form-control" name="start">
                                                    <span class="input-group-addon input-sm">đến</span>
                                                    <input type="text" class="input-sm form-control" name="end">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-cons btn-sm m-t-25" type="button"><i class="fa fa-search"></i> Tìm kiếm</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời gian thực hiện</th>
                                                <th>Địa điểm</th>
                                                <th>Loai hình Giám định</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                    <b>Danh sách yêu cầu giám định</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien" id="yes">
                                            <label for="yes">Chưa thực hiện</label>
                                            <input type="radio" value="no" name="thuchien" id="no">
                                            <label for="no">Đang thực hiện</label>
                                            <input type="radio" value="nop" name="thuchien" id="nop">
                                            <label for="nop">Đã thực hiện</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời gian thực hiện</th>
                                                <th>Địa điểm</th>
                                                <th>Loai hình Giám định</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#collapseM1" aria-expanded="false" aria-controls="collapseHmm">
                                    <b>Danh sách chứng thư</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseM1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien1" id="thuchien1-1">
                                            <label for="thuchien1-1">Chưa phát hành</label>
                                            <input type="radio" value="no" name="thuchien1" id="thuchien1-2">
                                            <label for="thuchien1-2">Đang duyệt</label>
                                            <input type="radio" value="nop" name="thuchien1" id="thuchien1-3">
                                            <label for="thuchien1-3">Đã phát hành</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Loại hình giánm định</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời gian thực hiện</th>
                                                <th>Địa điểm</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#collapseM2" aria-expanded="false" aria-controls="collapseThree">
                                    <b>Danh sách hóa đơn</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseM2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien2" id="thuchien2-1">
                                            <label for="thuchien2-1">Chưa tạo</label>
                                            <input type="radio" value="no" name="thuchien2" id="thuchien2-2">
                                            <label for="thuchien2-2">Đã tạo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Hạng mục giám định</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời hoàn thành</th>
                                                <th>Địa điểm</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="giamdoc">
                <form role="form" lpformnum="2" class="form-filter">
                    <div class="form-group">
                        <select class="full-width" data-init-plugin="select2" data-placeholder="Chọn phòng ban">
                                            <option value=""></option>
                                            <option value="AK">Phòng năng lượng</option>
                                            <option value="AK">Phòng hàng hải</option>
                                        </select>
                    </div>
                </form>
                <div class="panel-group des-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#headingG1" aria-expanded="false" aria-controls="collapseTwo">
                                    <b>Danh sách yêu cầu giám định</b>
                                </a>
                            </h4>
                        </div>
                        <div id="headingG1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien" id="yes">
                                            <label for="yes">Chưa thực hiện</label>
                                            <input type="radio" value="no" name="thuchien" id="no">
                                            <label for="no">Đang thực hiện</label>
                                            <input type="radio" value="nop" name="thuchien" id="nop">
                                            <label for="nop">Đã thực hiện</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời gian thực hiện</th>
                                                <th>Địa điểm</th>
                                                <th>Loai hình Giám định</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingG1">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#headingG2" aria-expanded="false" aria-controls="collapseHmm">
                                    <b>Danh sách chứng thư</b>
                                </a>
                            </h4>
                        </div>
                        <div id="headingG2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien1" id="thuchien1-1">
                                            <label for="thuchien1-1">Chưa phát hành</label>
                                            <input type="radio" value="no" name="thuchien1" id="thuchien1-2">
                                            <label for="thuchien1-2">Đang duyệt</label>
                                            <input type="radio" value="nop" name="thuchien1" id="thuchien1-3">
                                            <label for="thuchien1-3">Đã phát hành</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Loại hình giánm định</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời gian thực hiện</th>
                                                <th>Địa điểm</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingM5">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="" href="#headingG3" aria-expanded="false" aria-controls="collapseThree">
                                    <b>Danh sách hóa đơn</b>
                                </a>
                            </h4>
                        </div>
                        <div id="headingG3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="radio radio-primary">
                                            <input type="radio" checked="checked" value="yes" name="thuchien2" id="thuchien2-1">
                                            <label for="thuchien2-1">Chưa tạo</label>
                                            <input type="radio" value="no" name="thuchien2" id="thuchien2-2">
                                            <label for="thuchien2-2">Đã tạo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">STT</th>
                                                <th>Số chứng thư</th>
                                                <th>Tên khách hàng</th>
                                                <th>Hạng mục giám định</th>
                                                <th>Ngày yêu cầu</th>
                                                <th>Thời hoàn thành</th>
                                                <th>Địa điểm</th>
                                                <th>Trạng thái</th>
                                                <th>Chi tiết</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#repeat 4}}
                                            <tr>
                                                <td class="v-align-middle text-center">
                                                    1
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                                <td class="v-align-middle">
                                                </td>
                                            </tr>
                                            {{/repeat}}
                                        </tbody>
                                    </table>
                                    {{>pagination-sm}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}} {{#content "script" mode="append"}} {{/content}} {{/extend}}